$mainFont: "Chivo", sans-serif;
$clrGreen: #54e6af;
$clrDarkGrey: #2c344b;
$clrGrey: #5a668a;
$clrLightGrey: #c2cbe5;
$clrBlack: #121725;
$clrBlackTransparent: rgba(18, 23, 37, 0.8);
$clrWhite: #fff;
$clrRed: #fb3e3e;
$clrGreenHover: #b3ffe2;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $clrBlack;
  padding: 130px 15% 0 26.5%;
  position: relative;
  color: $clrGrey;
  font-family: $mainFont;
}
.logo {
  width: 134px;
  height: 56px;
  margin-bottom: -28px;
}
.hero__img {
  width: 888px;
  height: 640px;
  background-image: url("../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: 0;
}
.hero {
  width: 723px;
  padding-top: 88px;
  background-color: $clrBlack;
  position: absolute;
  bottom: 0;
}
.hero__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3.25rem;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 62px;
  color: $clrWhite;
}
.hero__title--green {
  color: $clrGreen;
}
.hero__text {
  line-height: 28px;
  font-size: 18px;
  padding-right: 278px;
  margin-bottom: 40px;
}
.hero__brands {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 48px;
  padding-right: 187px;
}

.spotify {
  width: 96px;
  height: 29px;
}
.apple {
  width: 78px;
  height: 29px;
}
.google {
  width: 125px;
  height: 18px;
}
.pocket {
  width: 129px;
  height: 26px;
}
.form {
  position: relative;
  margin-bottom: 4rem;
}
.email {
  width: 427px;
  padding: 14px 32px;
  border-radius: 28px;
  outline: none;
  border: none;
  font-size: 14px;
  background-color: $clrDarkGrey;
  color: $clrLightGrey;
  margin-bottom: 1rem;
  &::placeholder {
    color: $clrLightGrey;
    font-weight: 700;
    font-size: 14px;
  }
}
.alert {
  position: absolute;
  text-align: left;
  color: $clrRed;
  padding-left: 32px;
  margin-top: 8px;
  bottom: 0;
  font-size: 12px;
  display: none;
}
.alert.active {
  display: block;
}

.btn {
  width: 162px;
  font-size: 14px;
  color: $clrBlack;
  font-weight: 700;
  border-radius: 28px;
  border: none;
  background-color: $clrGreen;
  text-transform: capitalize;
  padding: 10px 27px;
  margin-left: -171px;
  transition: 0.3s ease-in;
  cursor: pointer;
  &:hover {
    background-color: $clrGreenHover;
  }
}
.bg__img {
  position: absolute;
  bottom: 0;
  right: 15%;
  transform: translate(50%, 50%);
}

@media (max-width: 1440px) {
  .container {
    padding: 130px 0 0 16.5%;
  }
  .bg__img {
    right: 0;
    transform: translate(0, 0);
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 100px 0 0 5.5%;
  }
}
@media (max-width: 768px) {
  .hero__img {
    width: 491px;
    height: 767px;
    background-image: url("../assets/tablet/image-host.jpg");
    margin-bottom: 153px;
  }
  .hero {
    width: 635px;
    padding-top: 88px;
    background-color: $clrBlack;
    position: absolute;
    bottom: 0;
  }
  .hero__title {
    font-size: 3rem;
    line-height: 56px;
  }
  .hero__text {
    padding-right: 190px;
  }
  .bg__img {
    bottom: 0;
    left: 6%;
    transform: translateY(150%);
  }
}
@media (max-width: 425px) {
  .container {
    padding: 62px 10% 94px;
    text-align: center;
    position: relative;
    background-image: linear-gradient($clrBlackTransparent),
      url("../assets/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .hero__img {
    display: none;
  }
  .header {
    width: 100%;
  }
  .logo {
    display: block;
    margin: 0 auto 57px;
  }
  .bg__img {
    display: none;
  }
  .hero__title {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 1rem;
  }
  .hero__text {
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 33px;
  }
  .hero {
    position: static;
    max-width: 100%;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .form {
    margin: 0;
    order: 2;
  }
  .email {
    width: 100%;
    padding: 16px 32px;
    margin-bottom: 2rem;
  }
  .btn {
    width: 100%;
    margin: 0;
    padding: 16px 32px;
  }
  .hero__brands {
    padding: 0;
    margin-bottom: 48px;
  }
  .spotify {
    width: 56px;
    height: 17px;
  }
  .apple {
    width: 45px;
    height: 17px;
  }
  .google {
    width: 73px;
    height: 11px;
  }
  .pocket {
    width: 77px;
    height: 15px;
  }
  .alert {
    top: 35%;
  }
}

@media (max-width: 375px) {
  .container {
    padding-left: 6%;
    padding-right: 6%;
  }
}
